html,body{margin: 0;padding: 0;font-family: Avenir, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 14px;color: #2c3e50;}
a{text-decoration: none;}
#app {
    text-align: center;
}
.login a{padding-left: 15px;}
#nav {
    width: 100%;
    height: auto;
    clear: both;
    overflow: hidden;
}
.nav-content{
    width: 100%;
    height: 36px;
    line-height: 36px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}